// Import font "Roboto" and "Pixelify Sans"
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Prevent inconsistent browsers behavior when using font-face on form gadget */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

*,*::before, *::after {
    box-sizing: border-box;
    color: white;
}

em {
    font-style: italic;
}

h1 {
    font-size: 6rem;
    background-color: rgb(0, 0, 0);
    
    > span {
        padding-right: 25px;
    }
}

div.background-container {
    background-image: url("../media/undertale-background.jpg");
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    gap: 20%;
}

.left-container,
.right-container {
    width: 50%;
    height: 70%;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right-container {
    background: black;
}

div.speech-bubble {
	position: relative;
	background: #08c3d4;
	border-radius: .4em;
    height: 100px;
    left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    
    :after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 44px solid transparent;
        border-right-color: #08c3d4;
        border-left: 0;
        border-bottom: 0;
        margin-top: -22px;
        margin-left: -44px;
    }

    >p {
        font-family: 'Pixelify Sans', sans-serif;
    }
}

img.sans-img {
    width: 250px;
    height: 250px;
}

img.odin-icon {
    width: 1em;
    height: 1em;
}

header.header-container {
    height:30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    h2 {
        font-size: 1.6rem;
        line-height: 3ch;
        padding-right: 100px;

         span.blue-text {
            color:#08c3d4;
         }

         span.rainbow-text {
            background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
    }
}

section.form-container {
    height: 60%;

    > h2 {
        font-size: 1.8rem;
        margin-top: 20px;
    }
}

form.register-form {

    > ol {
        display: flex;
        flex-wrap: wrap;

    }

     li {
        width: 50%;
        margin-top: 40px;

        > label {
            display: block;
            font-size: .9em;
            
            > span {
                color: red;
            }
        }

        > input {
            padding: 10px 20px;
            width:  90%;
            margin-top: 1rem;
            color: black;
            font-size: 1.2rem;
            border-radius: 6px;
        }

        > input:focus {
            outline: none;
        }
        
        > input:invalid {
            border: 3px solid red;
        }

        > input:valid {
            border:3px solid rgb(8, 184, 8);
        }

        > input:valid:not(input:focus) {
            background-color: rgb(8, 184, 8);
        }

        > input:optional:valid:placeholder-shown{
            background-color: white;
        }

        > input::placeholder {
            color: #ccc;
        }

        > input:placeholder-shown {
            border: 1px solid #222;
        }
     }
}

div.submit-btn-container {
    height: 50%;
}

footer.footer-container {
    height: 10%;
    display: flex;
    align-items: center;
    gap: 3rem;

     div.submit-btn-container {

        > button {
            color: white;
            background-color: #2196f3;
            padding: 10px 50px;
            border: 1px solid #bbb;
            border-radius: 6px;
        }
    
        > button:hover {
            background-color:#26c6da;
            cursor: pointer;
        }

        > button:active {
            box-shadow: inset 0px 0px 7px 7px #1b8694;
        }
     }

     div.log-in-prompt {
        font-size: 1.2rem;

        > p {
            display: inline-block;
            vertical-align: -20px;
        }
     }
}